<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>CustomTabMode</key>
	<false/>
	<key>Debugger</key>
	<string>bashdb</string>
	<key>Diagnostics</key>
	<array/>
	<key>Docs</key>
	<array/>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>sh</string>
		<string>zsh</string>
	</array>
	<key>Grammar</key>
	<string>source.shell</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>Name</key>
	<string>Shell</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RunCommand</key>
	<string>$filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<integer>1</integer>
			<key>Extension</key>
			<string>.zsh</string>
			<key>Name</key>
			<string>Zsh</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>#!/usr/bin/env zsh
# shellcheck shell=bash

&lt;##&gt;</string>
			<key>TemplateModified</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<integer>0</integer>
			<key>Extension</key>
			<string>.sh</string>
			<key>Name</key>
			<string>Bash</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string></string>
			<key>TemplateModified</key>
			<true/>
		</dict>
	</array>
	<key>uuid</key>
	<string>0A160F85-020D-498D-81CE-98E95CDC92EA</string>
</dict>
</plist>
