#######################################
# Whitelist
#######################################

# Ignore everything, then selectively un-ignore.
*
!.*
!.*/**

# Non-dotfile directories and files.
!README.md

#######################################
# macOS
#######################################

.AppleDB
.AppleDesktop
.AppleDouble
.CFUserTextEncoding
.DS_Store
.LSOverride
.Trash/

#######################################
# Shell
#######################################

.shell/
.zsh_sessions/

#######################################
# Tools
#######################################

# Claude
.claude/*
!.claude/settings.json
!.claude/blocklist.json
.claude.json
.claude.json.backup

# Cursor
.cursor/
.cursorignore
.cursorindexingignore

# Python
**/__pycache__

# Raycast (runtime config)
.raycast/config.json

#######################################
# Secrets
#######################################

*.env
*.local
.config/*
.ssh/
.gnupg/
.aws/
.azure/
.gcloud/
.kube/
