#######################################
# Dotfiles
#######################################

*
!.*
!.*/**

!bin/
!bin/**
!lib/
!lib/**
!src/
!src/**

!README.md

!docs/
!docs/**

#######################################
# System
#######################################

# macOS
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride

# Shell
.shell/
.zsh_sessions/
.CFUserTextEncoding

#######################################
# Development
#######################################

# Claude
.claude/*
!.claude/settings.json
!.claude/blocklist.json
.claude.json
.claude.json.backup

# Cursor
.cursor/
.cursorignore
.cursorindexingignore

# Raycast
.raycast/config.json

# Python
**/__pycache__

#######################################
# Secrets
#######################################

# Environment
*.env
*.local
.config/
.ssh/

# Services
.gnupg/
.aws/
.azure/
.gcloud/
.kube/
